{% extends 'index.html'%} {% block title %}<title>Review </title>
{%endblock%} {% block main_content %}
<div class="row justify-content-center" style="width: 70%; margin: auto">
  {% if user.is_authenticated and req == review.user.username %}
  <div class="d-flex">
    <a
      href="{% url 'delete_review' review.id %}"
      type="button"
      class="btn btn-danger p-1 mb-3 me-3"
      >Delete</a
    >
    <a
      href="{% url 'update_review' review.id %}"
      type="button"
      class="btn btn-primary p-1 mb-3"
      >Update</a
    >
  </div>

  {% endif%} 
  <article style="margin-bottom: 3rem col-md-12 col-sm-12">
    <img src="{{ user.avatar.image.url }}" alt="" id="nuevoav">
    <p class="text-muted" style="font-size: 12px">{{review.user}}</p>
    <div class="card my-card" style="margin: 3rem 0" id="reviewsd">
    <h1 class="title3">{{review.movie.title}}</h1>
    <p class="starability-result" data-rating="{{review.rated}}">
    <h2>{{review.title}}</h2>
    <p class="mt-3">{{review.text | safe}}</p>

 
    <p class="text-muted" style="font-size: 12px">{{review.date}}</p>
    </div>
  </article>
  <section class="col-md-12">
    <h5 class="title3">Replys</h5>
    {% if all_reply %}
    <ul class="p-0">
      {% for all_reply in all_reply %}
      <li>
      <div>
        <img src="{{user.avatar.image.url}}" alt="" id="avareviw">
        <p class="text-muted" style="font-size: 12px">{{all_reply.user}}</p>
      </div>
        <div class="card my-card" style="margin: 3rem 0" id="reviewsd2">
          {% if user.is_authenticated and req == all_reply.user.username %}
          <a
            href="{% url 'delete-reply' all_reply.id %}"
            class="btn btn-danger py-1 my-1"
            style="color: brown; "
            >Delete</a
          >
          {% endif %}
          
          <p class="mt-3">{{all_reply.text | safe}}</p>
 
         
          <p class="comment-bg rounded my-1">{{all_reply.all_reply}}</p>
         
        </article>
    
        <p class="text-muted" style="font-size: 12px">{{all_reply.date}}</p>
      </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <span class="mb-3">No replys yet</span>
    {% endif %}
  </section>
  {% if user.is_authenticated %}
    <form class="title3" action="{% url 'detail_reviews' review.id %}" method="POST"> 
      {% csrf_token %}{% for field in AddReview %} {{field.label}}
      <br />
      {{form.media}} {{field}}
    
      <br />
      {%endfor%}
      {{ AddReply.as_table }}
      <input class="btn btn-primary mb-3 p-2" type="submit" value="Reply" style="margin-top: 20px;" />
    </form>
</div>

{% endif %} 
  {% endblock %}